<footer class="dark-bg text-white">
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">

                    <img src="/assets/1x/Easy-Fast-Hosting-Logo.png" alt="" width="225px" class="pb-2">

                <p>
                    <a href="mailto:info@easyfasthosting.com" target="_blank">
                    <i class="fa fa-envelope mr-2"></i>info@easyfasthosting.com
                </a>
                </p>
                    <p>Easy Fast Hosting &copy;2020 ALL RIGHTS RESERVED | Please do not copy any of the text, images or other <a href="https://thedesignerdeveloper.com" target="_blank">web developer</a>'s work.</p>
                </div>
            </div>
        </div>
    </section>
</footer>
<script src="https://use.fontawesome.com/ddce42803b.js"></script>
</body>
</html>