<header class="dark-bg">
    <nav>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <img src="/assets/1x/Easy-Fast-Hosting-Logo.png" alt="" width="125px">
                </div>
                <div class="col-md-9">
                </div>
            </div>
        </div>
    </nav>
</header>