<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Fast Hosting | Best Hosting Option</title>
    <meta name="description" content="Get the cheapest & fastest hosting available. Starting at $5.95/mo. for the GrowBig plan, you get unlimited websites.">
    <meta property="og:image" content="/assets/Easy-Fast-Hosting.jpg"/>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
</head>
<body>
    <header class="dark-bg">

            <nav>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <img src="/assets/1x/Easy-Fast-Hosting-Logo.png" alt="" width="125px">
                        </div>
                        <div class="col-md-9">
                        </div>
                    </div>
                </div>
            </nav>

    </header>

    <!-- start of hero -->
    <section>
    <div class="hero dark-bg text-white">
        <div class="container pt-0">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1> <span class="red">404</span></h1>
                    <h6 class="pb-4">Ooops...</h6>
                    <div class="col-md-10 mr-auto ml-auto">
                    <p>This page does not exist, please go back to the homepage.</p>
                    <a href="/" class="btn primary">Go Back to Home</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- end of hero -->
    <!-- start of portfolio -->
    <section class="half-half portfolio">
        <div class="container pt-0 pb-5">
            <div class="row">
                <div class="col-md-6">
                    <img src="/assets/Portfolio-Excol.jpg" alt="" width="100%" class="hover-effect">
                </div>
                <div class="col-md-6">
                    <img src="/assets/Portfolio-Luxury-Compass.jpg" alt="" width="100%" class="hover-effect">
                </div>
            </div>
        </div>
    </section>
    <!-- end of portfolio -->
    <%- include ('partials/footer.ejs') %>