<%- include ('partials/head.ejs') %>
<%- include ('partials/header.ejs') %>
<!-- start of hero -->
<section>
<div class="hero dark-bg text-white">
<div class="container pt-0">
<div class="row justify-content-center">
<div class="col-md-10 text-center">
<h1 class="h2">So, your website has sloppy loading, poor uptime and awful support.. <span class="red"> shall we fix it for you?</span></h1>
<!-- <h6 class="pb-4">To create the professional websites you need</h6> -->
<div class="col-md-10 mr-auto ml-auto">
<p>The quality of your hosting has a huge effect on your website, just by making the change from an ''okay'' hosting to a Great hosting you can speed up your websites performance DRAMATICALLY.</p>
<p>Let us help with that!</p>
<a href="https://www.siteground.com/go/zx2f7gdv1d" class="btn primary" target="_blank" rel="noopener noreferrer"> &#60;&#60; Start my risk-free 30 days &#62;&#62; </a>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- end of hero -->
<!-- start of portfolio -->
<section class="half-half portfolio pb-5">
<div class="container pt-0 pb-0">
<div class="row">
<div class="col-md-6">
<img src="/assets/Portfolio-Excol.jpg" alt="" width="100%" class="hover-effect">
</div>
<div class="col-md-6">
<img src="/assets/Portfolio-Luxury-Compass.jpg" alt="" width="100%" class="hover-effect">
</div>
</div>
</div>
</section>
<!-- end of portfolio -->
<!-- start of subscription -->
<section class="pt-5 pb-5 dark-bg text-white">
<div class="container">
<div class="row align-items-center justify-content-center">
<div class="col-md-9 text-center">
<h3 class="pb-3">Our best seller GrowBig plan gives you:</h3>
</div>
<div class="col-md-12 sub-list d-flex justify-content-around align-items-center text-white">
<ul class="benefits-list">
<li class="d-flex align-items-center">
<i class="fa fa-2x fa-check-square"></i> 
<h4>Hosting for unlimited websites</h4>
</li>
<li class="d-flex align-items-center">
<i class="fa fa-2x fa-check-square"></i>
<h4>Unlimited traffic</h4>
</li>
<li class="d-flex align-items-center">
<i class="fa fa-2x fa-check-square"></i> <h4>Free CDN</h4>
</li>
<li class="d-flex align-items-center">
<i class="fa fa-2x fa-check-square"></i> <h4>Free SSL</h4>
</li>
<li class="d-flex align-items-center">
<i class="fa fa-2x fa-check-square"></i> <h4>Free automated <strong>WordPress installation</strong></h4>
</li>
<li class="d-flex align-items-center">
<i class="fa fa-2x fa-check-square"></i> <h4>Free <strong>WordPress Transfer</strong></h4>
</li>
<li class="d-flex align-items-center">
<i class="fa fa-2x fa-check-square"></i> <h4>Free <strong>Wordpress auto updates</strong></h4>
</li>
<li class="d-flex align-items-center">
<i class="fa fa-2x fa-check-square"></i> <h4>Free email</h4>
</li>
<li class="d-flex align-items-center">
<i class="fa fa-2x fa-check-square"></i> <h4>WP-CLI and SSH</h4>
</li>
<li class="d-flex align-items-center">
<i class="fa fa-2x fa-check-square"></i> <h4>30-Days <strong>Money-Back-Guarantee</strong></h4>
</li>
</ul>
</div>

</div>
</div>
</section>
<!-- end of subscription -->
<!-- start of intro -->
<section class="pt-5 pb-5">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-4 text-center mt-2 mb-2">
<img src="/assets/icons/Fast-Reliable-Hosting.png" alt="" height="100px" class="mb-3">
<h3 class="h4">Fast and Reliable Hosting</h3>
<p class="lh1"><small>Godlike hosting speed thanks to SSD storage, SG Optimizer, HTTP/2, free CDN and SuperCacher</small></p>
</div>
<div class="col-md-4 text-center mt-2 mb-2">
<img src="/assets/icons/Easy-Intuitive.png" alt="" height="100px" class="mb-3">
<h3 class="h4">Easy and Intuitive To use</h3>
<p class="lh1"><small>Siteground’s starter plugin makes this a walk in the park even for beginners saving hours of your time and allowing you to do it yourself</small></p>
</div>
<div class="col-md-4 text-center mt-2 mb-2">
<img src="/assets/icons/Excellent-Uptime.png" alt="" height="100px" class="mb-3">
<h3 class="h4">Excellent Uptime</h3>
<p class="lh1"><small>Siteground has an excellent uptime, if by the end of the month your uptime is below 99.9% we return part of your monthly cost</small></p>
</div>
<div class="col-md-4 text-center mt-2 mb-2">
<img src="/assets/icons/Secure.png" alt="" height="100px" class="mb-3">
<h3 class="h4">Secure</h3>
<p class="lh1"><small>Your website will be protected of any potential threats by Free SSL, SSH and daily backups</small></p>
</div>
<div class="col-md-4 text-center mt-2 mb-2">
<img src="/assets/icons/Incredible-Prices.png" alt="" height="100px" class="mb-3">
<h3 class="h4">Incredible Prices</h3>
<p class="lh1"><small>Our GrowBig plan is only 9.99$/month, it includes all the essential features to make a kick ass website and is cheaper than a gas refill for your car</small></p>
</div>
<div class="col-md-4 text-center mt-2 mb-2">
<img src="/assets/icons/Great-Customer-Support.png" alt="" height="100px" class="mb-3">
<h3 class="h4">Great Customer Support</h3>
<p class="lh1"><small>Our customer support if at your disposal 24/7 during the whole year, ready to help you in case anything goes wrong</small></p>
</div>
<div class="col-md-6 text-center">
<a href="https://www.siteground.com/go/zx2f7gdv1d" class="btn primary" target="_blank" rel="noopener noreferrer"> &#60;&#60; I Want Great Hosting &#62;&#62; </a>
</div>
</div>
</div>
</section>
<!-- end of intro -->
<!-- start of testimonials -->
<section class="pt-5 pb-5 testimonials light-bg">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-10 text-center">
<h3>See what our customers say about us</h3>
</div>
</div>
<div class="row pt-5">
<div class="col-md-4 pt-4 hover-effect">
<div class="testimonial">
<img src="/assets/reviews/Syed-Balkhi.jpg" alt="Syed Balkhi Founder of WPBeginner" class="w-100 mb-4">
<h5>Syed Balkhi</h5>
<h6 class="red">Founder of WPBeginner</h6>
<h6 class="rating">&#9733; &#9733; &#9733; &#9733; &#9733;</h6>
<p class="quote"><i class="fa fa-quote-left red mr-2"></i>SiteGround is a great hosting solution for all your WordPress projects - both new and established ones. The service they provide is stable, secure and super fast thanks to the special tools they've developed in-house for WordPress users.<i class="fa fa-quote-right ml-2 red"></i></p>

</div>
</div>

<div class="col-md-4 pt-4 hover-effect">
<div class="testimonial">
<img src="/assets/reviews/Joost-De-Valk.jpg" alt="Joost De Valk Yoast SEO Founder and CPO" class="w-100 mb-4">
<h5>Joost De Valk</h5>
<h6 class="red">Yoast SEO Founder and CPO</h6>
<h6 class="rating">&#9733; &#9733; &#9733; &#9733; &#9733;</h6>
<p class="quote"><i class="fa fa-quote-left red mr-2"></i>We keep track of which hosts we get a lot of support requests for, so we can reach out to them. We had a hard time finding SiteGround in that list as we had so few complaints from customers hosted with them.<i class="fa fa-quote-right ml-2 red"></i></p>
</div>
</div>
<div class="col-md-4 pt-4 hover-effect">
<div class="testimonial">
<img src="/assets/reviews/Matt-Cromwell.jpg" alt="Matt Cromwell COO at Impress.org" class="w-100 mb-4">
<h5>Matt Cromwell</h5>
<h6 class="red">COO at Impress.org</h6>
<h6 class="rating">&#9733; &#9733; &#9733; &#9733; &#9733;</h6>
<p class="quote"><i class="fa fa-quote-left red mr-2"></i>I can't say enough good things about SiteGround. I highly recommend their GoGeek shared hosting platform if you are a developer on a budget but still want advanced features like staging, GitHub integration, and of course the SuperCacher.<i class="fa fa-quote-right ml-2 red"></i></p>
</div>
</div>
<div class="col-md-4 pt-4 hover-effect">
<div class="testimonial">
<img src="/assets/reviews/Andrey-Savchenko.jpg" alt="Andrey Savchenko WordPress Developer" class="w-100 mb-4">
<h5>Andrey Savchenko</h5>
<h6 class="red">WordPress Developer</h6>
<h6 class="rating">&#9733; &#9733; &#9733; &#9733; &#9733;</h6>
<p class="quote"><i class="fa fa-quote-left red mr-2"></i>I am passionate about web performance. It takes a hosting committed to performance to match that passion. SG Optimizer delivers powerful cache for WordPress data, assets, and pages with a flip of a switch. Even on the shared plans!<i class="fa fa-quote-right ml-2 red"></i></p>
</div>
</div>
<div class="col-md-4 pt-4 hover-effect">
<div class="testimonial">
<img src="/assets/reviews/Monique-Dubbleman.jpg" alt="Monique Dubbleman UX Designer at BOE!Media" class="w-100 mb-4">
<h5>Monique Dubbleman</h5>
<h6 class="red">UX Designer at BOE!Media</h6>
<h6 class="rating">&#9733; &#9733; &#9733; &#9733; &#9733;</h6>
<p class="quote"><i class="fa fa-quote-left red mr-2"></i>I moved all my client’s WordPress websites to SiteGround hosting a few years ago and it was the best decision I ever made. I can now easily add new clients, new websites, SSL certificates and other features from one dashboard. Through the staging environment, it’s easy to test new features on your website.<i class="fa fa-quote-right ml-2 red"></i></p>
</div>
</div>
<div class="col-md-4 pt-4 hover-effect">
<div class="testimonial">
<img src="/assets/reviews/Rian-Kinney.jpg" alt="Rian Kinney Founding Attorney, Kinney Firm" class="w-100 mb-4">
<h5>Rian Kinney</h5>
<h6 class="red">Founding Attorney, Kinney Firm</h6>
<h6 class="rating">&#9733; &#9733; &#9733; &#9733; &#9733;</h6>
<p class="quote"><i class="fa fa-quote-left red mr-2"></i>I have been a happy customer of SiteGround for 2 years now. From their easy to use migrator tool that quickly transferred domains from another platform, to their automatic WP updates that assist with maintaining the functionality of my sites, they have made hosting easy for someone with a non-technical background<i class="fa fa-quote-right ml-2 red"></i></p>
</div>
</div>

</div>
</div>
</section>
<!-- end of testimonials -->

<!-- start of how it works -->
<section class="pt-5 pb-5 dark-bg text-white">
<div class="container">
<div class="row">
<div class="col-md-12 pb-4 text-center">
<h3 class="pb-4">Get started in 3 simple steps</h3>
</div>
<div class="col-md-4">
<!-- <i class="fa fa-2x fa-user"></i> -->
<img src="/assets/Hosting-Step-1.jpg" alt="Choose a Hosting Plan" width="100%" class="pb-4">
<h6 class="red">Step 1</h6>
<h4>Choose a Hosting Plan</h4>
<p>Our Growbig plan has the best value and is highly recommended, in this plan you get the ability to host unlimited websites, 20GB of web space and access to 10+ perks.</p>

</div>
<div class="col-md-4">
<!-- <i class="fa fa-2x fa-user"></i> -->
<img src="/assets/Hosting-Step-2.jpg" alt="Choose a Domain Name" width="100%" class="pb-4">
<h6 class="red">Step 2</h6>
<h4>Choose a Domain Name</h4>
<p>You can choose to buy a new domain, or sign up with an existing domain. We offer you a wide range of domain extensions at awesome prices.</p>
</div>
<div class="col-md-4">
<!-- <i class="fa fa-2x fa-user"></i> -->
<img src="/assets/Hosting-Step-3.jpg" alt="Review &amp; Complete Order" width="100%" class="pb-4">
<h6 class="red">Step 3</h6>
<h4>Review &amp; Complete Order</h4>
<p>Our advertised discount applies to any of the initial periods chosen during the sign up process. In comparison to other providers where the lowest monthly price applies only for the longest period.</p>
</div>
</div>
</div>
</section>
<!-- end of how it works -->
<!-- start of concepts -->
<section class="pt-5 pb-5">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<h3>You are free to test our services for 30 days risk free</h3>
<p class="pt-3">Should our services fail to meet your expectations during the first 30 days.<br>
You are free to ask for a full refund<br>
We will then give you your money back. No questions asked</p>
<a href="https://www.siteground.com/go/zx2f7gdv1d" class="btn primary" target="_blank" rel="noopener noreferrer"> &#60;&#60; Get my GrowBig plan $9.99 &#62;&#62; </a>
</div>


</div>

</div>
</section>
<!-- end of concepts -->


<%- include ('partials/footer.ejs') %>